<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bfei.icrane.core.dao.ComplaintProblemDao">
	<resultMap id="BaseResultMap" type="ComplaintProblem" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="problem" property="problemName" jdbcType="VARCHAR" />
  	</resultMap>

  	<sql id="Base_Column_List" >
    	id, problem
  	</sql>
  	<select id="queryList" resultMap="BaseResultMap">
  		select 
    	<include refid="Base_Column_List" />
    	from member_complaint_problem
  	</select>

	<select id="count" resultType="java.lang.Integer">
		SELECT   COUNT(*)   FROM member_complaint_problem
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT * FROM member_complaint_problem WHERE id=#{id, jdbcType=INTEGER}
	</select>
	<insert id="insertService" parameterType="ComplaintProblem">
		insert into member_complaint_problem
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="problemName != null">
				problem,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="problemName != null">
				#{problemName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="ComplaintProblem" >
		update member_complaint_problem
		<set >
			<if test="problemName != null" >
				problem = #{problemName,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
		delete from member_complaint_problem
		where id = #{id,jdbcType=INTEGER}
	</delete>
</mapper>