<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bfei.icrane.core.dao.DollMonitorDao">
  <resultMap id="BaseResultMap" type="com.bfei.icrane.core.models.DollMonitor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dollId" jdbcType="INTEGER" property="dollid" />
    <result column="alert_type" jdbcType="VARCHAR" property="alertType" />
    <result column="alert_number" jdbcType="INTEGER" property="alertNumber" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="modified_by" jdbcType="INTEGER" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dollId, alert_type, alert_number, description, created_date, created_by, modified_date, 
    modified_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_doll_monitor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByDollIdType" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_doll_monitor
    where dollId = #{dollId,jdbcType=INTEGER} and alert_type = #{alertType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_doll_monitor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bfei.icrane.core.models.DollMonitor">
    insert into t_doll_monitor (id, dollId, alert_type, 
      alert_number, description, created_date, 
      created_by, modified_date, modified_by
      )
    values (#{id,jdbcType=INTEGER}, #{dollid,jdbcType=INTEGER}, #{alertType,jdbcType=VARCHAR}, 
      #{alertNumber,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{createdBy,jdbcType=INTEGER}, #{modifiedDate,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bfei.icrane.core.models.DollMonitor">
    insert into t_doll_monitor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dollid != null">
        dollId,
      </if>
      <if test="alertType != null">
        alert_type,
      </if>
      <if test="alertNumber != null">
        alert_number,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dollid != null">
        #{dollid,jdbcType=INTEGER},
      </if>
      <if test="alertType != null">
        #{alertType,jdbcType=VARCHAR},
      </if>
      <if test="alertNumber != null">
        #{alertNumber,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bfei.icrane.core.models.DollMonitor">
    update t_doll_monitor
    <set>
      <if test="dollid != null">
        dollId = #{dollid,jdbcType=INTEGER},
      </if>
      <if test="alertType != null">
        alert_type = #{alertType,jdbcType=VARCHAR},
      </if>
      <if test="alertNumber != null">
        alert_number = #{alertNumber,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bfei.icrane.core.models.DollMonitor">
    update t_doll_monitor
    set dollId = #{dollid,jdbcType=INTEGER},
      alert_type = #{alertType,jdbcType=VARCHAR},
      alert_number = #{alertNumber,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=INTEGER},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>