<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bfei.icrane.core.dao.vo.MemberCatchSuccessDao">
    <resultMap id="BaseResultMap" type="com.bfei.icrane.core.models.vo.MemberCatchStatistics">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="memberID" jdbcType="VARCHAR" property="memberID" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="mobile" jdbcType="VARCHAR" property="mobile" />
        <result column="weixin_id" jdbcType="VARCHAR" property="weixinId" />
        <result column="gender" jdbcType="VARCHAR" property="gender" />
        <result column="birthday" jdbcType="DATE" property="birthday" />
        <result column="coins" jdbcType="INTEGER" property="coins" />
        <result column="catch_number" jdbcType="VARCHAR" property="catchNumber" />
        <result column="catchSucessNumber" jdbcType="VARCHAR" property="catchSucessNumber" />
        <result column="replySendNumber" jdbcType="VARCHAR" property="replySendNumber" />
        <result column="sendedNumber" jdbcType="VARCHAR" property="sendedNumber" />
        <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
        <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
        <result column="modified_by" jdbcType="INTEGER" property="modifiedBy" />
        <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
        <result column="last_logoff_date" jdbcType="TIMESTAMP"
                property="lastLogoffDate" />
        <result column="online_flg" jdbcType="INTEGER" property="onlineFlg" />
        <result column="icon_context_path" jdbcType="VARCHAR" property="iconContextPath" />
        <result column="icon_file_name" jdbcType="VARCHAR" property="iconFileName" />
        <result column="icon_real_path" jdbcType="VARCHAR" property="iconRealPath" />
        <result column="easemob_uuid" jdbcType="VARCHAR" property="easemobUuid" />
        <result column="active_flg" jdbcType="VARCHAR" property="activeFlg" />
        <result column="invite_flg" jdbcType="VARCHAR" property="inviteFlg" />
        <result column="invite_flg_web" jdbcType="VARCHAR" property="inviteFlgWeb" />
        <result column="register_from" jdbcType="VARCHAR" property="registerFrom" />
        <result column="last_login_from" jdbcType="VARCHAR" property="lastLoginFrom" />
        <result column="first_login" jdbcType="INTEGER" property="firstLogin" />
        <result column="first_charge" jdbcType="INTEGER" property="firstCharge" />
        <association property="prefset" javaType="Prefset">
            <id property="memberId" column="member_id" />
            <result property="musicFlg" column="music_flg" />
            <result property="soundFlg" column="sound_flg" />
            <result property="shockFlg" column="shock_flg" />
        </association>
    </resultMap>

    <sql id="Base_Column_List" >
       id,memberID,name,mobile,gender,coins,catch_number,catchSucessNumber,replySendNumber,sendedNumber,register_date,modified_date,birthday,
		modified_by,last_login_date,last_logoff_date,online_flg,icon_context_path,icon_file_name,icon_real_path,first_login,first_charge
	</sql>
    <!-- 分页查询用户列表 -->
    <select id="totalCount" resultType="java.lang.Integer">
        select
        count(1)
        from t_member
        where 1=1
        <if test="name != null">
            AND name like concat
            ('%',#{name},'%')
        </if>
        <if test="memberid != null">
            AND memberId like concat
            ('%',#{memberid},'%')
        </if>
        <if test="lastLoginFrom != null">
            <if test="lastLoginFrom == 'android'">
                AND last_login_from = #{lastLoginFrom}
            </if>
            <if test="lastLoginFrom == 'ios'">
                AND last_login_from is NULL
            </if>
        </if>
        <if test="registerDate != null">
            AND register_date like concat
            ('%',#{registerDate},'%')
        </if>
    </select>

    <select id="getUserList" resultMap="BaseResultMap">
        select
        *
        from t_member
        where 1=1
        <if test="name != null">
            and name like concat
            ('%',#{name},'%')
        </if>
        <if test="memberID != null">
            AND memberID like concat
            ('%',#{memberID},'%')
        </if>
        <if test="lastLoginFrom != null">
            <if test="lastLoginFrom == 'android'">
                AND last_login_from = #{lastLoginFrom}
            </if>
            <if test="lastLoginFrom == 'ios'">
                AND last_login_from is NULL
            </if>
        </if>
        <if test="registerDate != null">
            and register_date like concat
            ('%',#{registerDate},'%')
        </if>
        order by id desc
        limit #{begin},#{pageSize}
    </select>

</mapper>