<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bfei.icrane.core.dao.MessageLogingDao" >
  <resultMap id="BaseResultMap" type="com.bfei.icrane.core.models.MessageLoging" >
    <id column="id" property="id" />
    <result column="in_message" property="inMessage" />
    <result column="out_message" property="outMessage" />
    <result column="message_time" property="messageTime" />
    <association property="client" javaType="com.bfei.icrane.core.models.Client" columnPrefix="client_">
      <id column="id" property="id"/>
      <result column="openId" property="openid" />
      <result column="nickname" property="nickname"/>
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from messageloging
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.bfei.icrane.core.models.MessageLoging" useGeneratedKeys="true" keyProperty="id" >
    insert into messageloging (client_openId, in_message, out_message, message_time)
    values (#{client.openid}, #{inMessage}, #{outMessage}, #{messageTime})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bfei.icrane.core.models.MessageLoging" >
    update messageloging
    set client_openId = #{client.openId},
      in_message = #{inMessage},
      out_message = #{outMessage},
      message_time = #{messageTime}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, client_openId, in_message, out_message, message_time
    from messageloging
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, client_openId, in_message, out_message, message_time
    from messageloging
  </select>


  <sql id="baseSelect">
        messageloging.id,
		messageloging.in_message, out_message,
		messageloging.message_time,
		client.id client_id,
		client.nickname client_nickname,
		client.openId client_openId
  </sql>
  <sql id="baseFrom">
        messageloging LEFT JOIN client ON messageloging.client_openId = client.openId
  </sql>


  <sql id="baseWhere">
    <where>
    </where>
  </sql>

  <!--<select id="queryCount" resultType="java.lang.Integer">
    select count(*)
    from <include refid="baseFrom"></include>
    <include refid="baseWhere"></include>

  </select>
  <select id="queryList" resultMap="BaseResultMap">
    select <include refid="baseSelect"></include>
    from <include refid="baseFrom"></include>
    <include refid="baseWhere"></include>
    LIMIT #{beginIndex},#{rows}
  </select>-->
</mapper>