<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bfei.icrane.core.dao.ShareInviteDao">
    <resultMap id="BaseResultMap" type="com.bfei.icrane.core.models.ShareInvite">
        <id column="id" property="id"/>
        <result column="invite_code" property="inviteCode"/>
        <result column="invite_member_id" property="inviteMemberId"/>
        <result column="invited_id" property="invitedId"/>
        <result column="create_date" property="createDate"/>
        <result column="state" property="state"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, invite_code, invite_member_id, invited_id, create_date, state
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM
          share_invite
        WHERE
            id = #{id}
    </select>
    <select id="selectByWhere" resultType="Member">
        SELECT
        b.id id, b.name name, b.gender gender,b.`mobile` mobile,b.memberID memberID,
        b.`register_date` registerDate,b.`last_login_date` lastLoginDate,b.`online_flg` onlineFlg
        FROM t_member b
        WHERE  b.id IN(
        SELECT DISTINCT a.invite_member_id
        FROM share_invite a
        )
        <if test="registerDate != null and  registerDate != ''">
            and  b.register_date >= #{registerDate}
        </if>
        <if test="memberid != null and memberid != ''">
            and  b.memberID = #{memberid}
        </if>
        <if test="name != null and name != ''">
            and  b.name = #{name}
        </if>
        order by b.id desc
        limit #{page},#{pageSize}
    </select>
    <select id="selectByWhereWhere" resultType="ShareInviteAll">
        SELECT
        a.id id, a.invite_code inviteCode, a.invite_member_id inviteMemberId, a.create_date createDate, a.invited_id invitedId,
        b.name, b.gender,b.`mobile`,b.memberID
        FROM share_invite a LEFT JOIN
        t_member b ON a.invited_id = b.id
        WHERE 1=1
        <if test="id != null and id != ''">
            and invite_member_id=#{id}
        </if>
        <if test="startTime != null and startTime != '' ">
            and  create_date >= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and create_date &lt; #{endTime}
        </if>
        GROUP by a.invited_id
        order by a.id desc
        limit #{page},#{pageSize}
    </select>

    <!--邀请人数时间查询-->
    <select id="totalCountVisitWhere" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT
        count(DISTINCT invited_id)
        FROM share_invite
        WHERE 1=1
        <if test="id != null and id != ''">
            and invite_member_id=#{id}
        </if>
        <if test="startTime != null and startTime != '' ">
            and  create_date >= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and create_date &lt; #{endTime}
        </if>
    </select>

    <select id="selectByWhereId" resultType="ShareInviteAll">
        SELECT
        a.id id, a.invite_code inviteCode, a.invite_member_id inviteMemberId, a.create_date createDate, a.invited_id invitedId,
        b.name, b.gender,b.`mobile`,b.memberID
        FROM share_invite a LEFT JOIN
        t_member b ON a.invited_id = b.id
        WHERE 1=1
        <if test="id != null">
            and  a.invite_member_id=#{id}
        </if>
        GROUP by a.invited_id
        order by b.id desc
        limit #{page},#{pageSize}
    </select>

    <!--邀请人数-->
    <select id="totalCount" resultType="java.lang.Integer">
        SELECT
          count(*)
        FROM t_member b
        WHERE  b.id IN(
        SELECT DISTINCT a.invite_member_id
        FROM share_invite a
        )
        <if test="registerDate != null and  registerDate != ''">
            and  b.register_date >= #{registerDate}
        </if>
        <if test="memberid != null and memberid != ''">
            and  b.memberID = #{memberid}
        </if>
        <if test="name != null and name != ''">
            and  b.name = #{name}
        </if>
    </select>

    <!--被邀请人数-->
    <select id="totalCountBVisit" resultType="java.lang.Integer">
        SELECT
        count(DISTINCT invited_id)
        FROM share_invite
        WHERE invite_member_id in(
            SELECT
            b.id
            FROM t_member b
            WHERE  b.id IN(
            SELECT DISTINCT a.invite_member_id
            FROM share_invite a
            )
            <if test="registerDate != null and  registerDate != ''">
                and  b.register_date >= #{registerDate}
            </if>
            <if test="memberid != null and memberid != ''">
                and  b.memberID = #{memberid}
            </if>
            <if test="name != null and name != ''">
                and  b.name = #{name}
            </if>
        )
    </select>

    <!--某人邀请人数-->
    <select id="totalCountMemberBVisit" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT
        count(DISTINCT invited_id)
        FROM share_invite
        WHERE 1=1
        <if test="id != null">
          and invite_member_id=#{id}
        </if>
    </select>
    <!--某人邀请人数充值人数-->
    <select id="totalCountMemberBVisitToMoney" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT
        count(DISTINCT invited_id)
        FROM share_invite
        WHERE 1=1 AND state = 1
        <if test="id != null">
            and invite_member_id=#{id}
        </if>
    </select>

</mapper>


